{% extends 'base.html' %}
{% block content %}
    {% load get_user %}
    {% load static %}


        <main>
            {% get_user as profile %}
            <!-- All Trips page -->
            {% if profile.trip_set.exists %}

            <!-- Display a heading if there are trips, including their count -->
            <h2>{{ profile.trip_set.count }} Shared Trips</h2>


            <section id="dashboard">

                <!-- Display a div with information about each trip (if any). Trips must be ordered by start_date descending -->
                {% for trip in profile.trip_set.all %}
                <!-- first trip -->
                <div class="post">

                    <!-- trip image if there is such, otherwise display the default one -->
                    {% if trip.image_url %}
                        <img src="{{ trip.image_url }}" alt="Cover Image"/>
                        {% else %}
                        <img src="{% static "images/default-trip.jpg" %}"
                        alt="Cusco, Peru img" />
                    {% endif %}
                    <!-- trip destination -->
                    <h3 class="title">{{ trip.destination }}</h3>
                    <!-- trip start date in format "D d M Y" -->
                    <p class="description">{{ trip.start_date|date:"D d M Y" }}</p>
                    <!-- trip details button -->
                    <a class="details-btn" href="{% url 'details-trip' trip.pk %}">Details</a>
                </div>
                {% endfor %}

                {% else %}
                        <!-- Display a heading if there are NO trips -->
                    <h2>No shared trips</h2>

                {% endif %}

            </section>

        </main>

{% endblock %}